<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container name="default">
    <register type="CashMachine.Data.ICardsRepository, CashMachine.Data"
              mapTo="CashMachine.Storage.MockCardsRepository, CashMachine.Storage"/>
  </container>
</unity>