@model CashMachine.Models.CardSearchRequest

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enter Card Number</h2>
@using (Html.BeginForm("FindCard", "Home", FormMethod.Post))
{
    <label for="Number">Number:</label>
    @Html.TextBox("Number", Model.Number);
}