@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to your Card!</h2>
<p>@Html.ActionLink("Check Balance", "CheckBalance")</p>
<p>@Html.ActionLink("Get Cash!", "GetCash")</p>
<p>@Html.ActionLink("Exit", "Exit")</p>
