@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>
<p>
    Congratulations! You've got the Cash.
    The Check will not be printed to save Forests.
</p>
@Html.ActionLink("Back", "Index")